@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #0c122c;
    width: 100vw;
    height: 100vh;
    background-image: url(../fylo-data-storage-component-master/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.6rem;
}

.icon {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.document , .folder , .upload {
    background-color: #0c112e;
    padding: 9%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 20px 0 0;
}


.card-logo {
    background-color: #1e2c69;
    width: 66%;
    border-radius: 1rem;
    padding: 4rem;
    border-top-right-radius: 10rem;
}

.card-storage {
    color: #fff;
    background-color: #1e2c69;
    margin-top: 5%;
    width: 82%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.description {
    margin-top: 10%;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.description-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 1.2rem;
    font-weight: 700;
}

.progress-bar {
    background-color: #151d4b;
    width: 90%;
    margin-top: 5%;
    padding: 1%;
    border-radius: 20px;
}

.progress-bar , .progressbar-color {
    border-radius: 20px;
    width: 81.5%;
    background-image: linear-gradient(hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
}

.progress-bar , .progressbar-color , .ball {
    height: 10px;
    background-color: #fff;
    width: 4%;
    border-radius: 10px;
}